In [1]:
import pandas as pd

In [14]:

df_wits=pd.read_csv('TSD_February2015.csv')
df_country_code=pd.read_csv('AllCountries_with_XWD.csv', encoding='unicode_escape')

In [22]:
wits_rep=pd.merge(df_wits, df_country_code, left_on='REP', right_on='ISO3', how='left')
wits_rep

,REP,PAR,YEAR,BOP,VALUE,DESCRIPTION,NAME,ISO3,CountryCode,Country Name
0,JPN,DEU,1985,200,0.572732,Total EBOPS Services,EBOPS: 200 Total EBOPS Services,JPN,392,Japan
1,JPN,DEU,1985,205,308.029000,1 Transportation,EBOPS: 205 1 Transportation,JPN,392,Japan
2,JPN,DEU,1985,236,133.256000,2 Travel,EBOPS: 236 2 Travel,JPN,392,Japan
3,JPN,DEU,1985,291,6.027000,"11 Government services, n.i.e.","EBOPS: 291 11 Government services, n.i.e.",JPN,392,Japan
4,JPN,DEU,1985,981,291.288000,"Other services, total (Sum of categories 3 to 11)","EBOPS: 981 Other services, total (Sum of categ...",JPN,392,Japan
...,...,...,...,...,...,...,...,...,...,...
1148014,XWD,ZWE,2011,260,4.330000,6 Financial services,EBOPS: 260 6 Financial services,XWD,0,Unallocated I&E
1148015,XWD,ZWE,2011,268,1.140000,9 Other business services,EBOPS: 268 9 Other business services,XWD,0,Unallocated I&E
1148016,XWD,ZWE,2011,291,26.099000,"11 Government services, n.i.e.","EBOPS: 291 11 Government services, n.i.e.",XWD,0,Unallocated I&E
1148017,XWD,ZWE,2011,981,57.119000,"Other services, total (Sum of categories 3 to 11)","EBOPS: 981 Other services, total (Sum of categ...",XWD,0,Unallocated I&E
1148018,XWD,ZWE,2011,982,31.020000,"commercial services, total (Sum of categories ...","EBOPS: 982 commercial services, total (Sum of ...",XWD,0,Unallocated I&E

In [21]:
wits_rep

,REP,PAR,YEAR,BOP,VALUE,DESCRIPTION,NAME,ISO3,CountryCode,Country Name
0,JPN,DEU,1985,200,0.572732,Total EBOPS Services,EBOPS: 200 Total EBOPS Services,JPN,392,Japan
1,JPN,DEU,1985,205,308.029000,1 Transportation,EBOPS: 205 1 Transportation,JPN,392,Japan
2,JPN,DEU,1985,236,133.256000,2 Travel,EBOPS: 236 2 Travel,JPN,392,Japan
3,JPN,DEU,1985,291,6.027000,"11 Government services, n.i.e.","EBOPS: 291 11 Government services, n.i.e.",JPN,392,Japan
4,JPN,DEU,1985,981,291.288000,"Other services, total (Sum of categories 3 to 11)","EBOPS: 981 Other services, total (Sum of categ...",JPN,392,Japan
...,...,...,...,...,...,...,...,...,...,...
1148014,XWD,ZWE,2011,260,4.330000,6 Financial services,EBOPS: 260 6 Financial services,XWD,0,Unallocated I&E
1148015,XWD,ZWE,2011,268,1.140000,9 Other business services,EBOPS: 268 9 Other business services,XWD,0,Unallocated I&E
1148016,XWD,ZWE,2011,291,26.099000,"11 Government services, n.i.e.","EBOPS: 291 11 Government services, n.i.e.",XWD,0,Unallocated I&E
1148017,XWD,ZWE,2011,981,57.119000,"Other services, total (Sum of categories 3 to 11)","EBOPS: 981 Other services, total (Sum of categ...",XWD,0,Unallocated I&E
1148018,XWD,ZWE,2011,982,31.020000,"commercial services, total (Sum of categories ...","EBOPS: 982 commercial services, total (Sum of ...",XWD,0,Unallocated I&E

In [43]:
wits_rep['NAME'].unique().tolist()

['EBOPS: 200 Total EBOPS Services',
 'EBOPS: 205 1 Transportation',
 'EBOPS: 236 2 Travel',
 'EBOPS: 291 11 Government services, n.i.e.',
 'EBOPS: 981 Other services, total (Sum of categories 3 to 11)',
 'EBOPS: 206 1.1 Sea transport',
 'EBOPS: 207 1.1.1 Passenger',
 'EBOPS: 208 1.1.2 Freight',
 'EBOPS: 210 1.2 Air transport',
 'EBOPS: 211 1.2.1 Passenger',
 'EBOPS: 212 1.2.2 Freight',
 'EBOPS: 214 1.3 Other transport',
 'EBOPS: 245 3 Communications services',
 'EBOPS: 249 4 Construction services',
 'EBOPS: 253 5 Insurance services',
 'EBOPS: 260 6 Financial services',
 'EBOPS: 266 8 Royalties and license fees',
 'EBOPS: 268 9 Other business services',
 'EBOPS: 269 9.1 Merchanting and other trade-related services',
 'EBOPS: 270 9.1.1 Merchanting',
 'EBOPS: 271 9.1.2 Other trade-related services',
 'EBOPS: 273 9.3 Miscellaneous business, professional, and technical services',
 'EBOPS: 278 9.3.2 Advertising, market research, and public opinion polling',
 'EBOPS: 287 10 Personal, cultural, and recreational services',
 'EBOPS: 982 commercial services, total (Sum of categories 3 to 10)',
 'EBOPS: 209 1.1.3 Other',
 'EBOPS: 213 1.2.3 Other',
 'EBOPS: 255 5.2 Freight insurance',
 'EBOPS: 292 11.1 Embassies and consulates',
 'EBOPS: 293 11.2 Military units and agencies',
 'EBOPS: 216 1.3.2 Freight',
 'EBOPS: 217 1.3.3 Other',
 'EBOPS: 247 3.2 Telecommunications services',
 'EBOPS: 256 5.3 Other direct insurance',
 'EBOPS: 237 2.1 Business travel',
 'EBOPS: 240 2.2 Personal travel',
 'EBOPS: 242 2.2.2 Education-related expenditure',
 'EBOPS: 243 2.2.3 Other',
 'EBOPS: 294 11.3 Other government services',
 'EBOPS: 238 2.1.1 Expenditure by seasonal and border workers',
 'EBOPS: 241 2.2.1 Health-related expenditure',
 'EBOPS: 246 3.1 Postal and courier services',
 'EBOPS: 250 4.1 Construction abroad',
 'EBOPS: 257 5.4 Reinsurance',
 'EBOPS: 262 7 Computer and information services',
 'EBOPS: 263 7.1 Computer services',
 'EBOPS: 264 7.2 Information services',
 'EBOPS: 284 9.3.6 Other business services',
 'EBOPS: 285 9.3.7 Services between related enterprises, n.i.e.',
 'EBOPS: 288 10.1 Audiovisual and related services',
 'EBOPS: 251 4.2 Construction in the compiling economy',
 'EBOPS: 274 9.3.1 Legal, accounting, management consulting, and public relations',
 'EBOPS: 279 9.3.3 Research and development',
 'EBOPS: 280 9.3.4 Architectural, engineering, and other technical services',
 'EBOPS: 272 9.2 Operational leasing services',
 'EBOPS: 281 9.3.5 Agricultural, mining, and on-site processing services',
 'EBOPS: 289 10.2 Other personal, cultural, and recreational services',
 'EBOPS: 223 1.6 Other transport of which: Road transport',
 'EBOPS: 277 9.3.1.3 Business and management consulting and public relations services',
 'EBOPS: 219 1.5 Other transport of which: Rail transport',
 'EBOPS: 227 1.7 Other transport of which: Inland waterway transport',
 'EBOPS: 231 1.8 Other transport of which: Pipeline transport and electricity transmission',
 'EBOPS: 254 5.1 Life insurance and pension funding',
 'EBOPS: 221 1.5.2 Freight',
 'EBOPS: 222 1.5.3 Other',
 'EBOPS: 225 1.6.2 Freight',
 'EBOPS: 983 Services not allocated',
 'EBOPS: 215 1.3.1 Passenger',
 'EBOPS: 226 1.6.3 Other',
 'EBOPS: 229 1.7.2 Freight',
 'EBOPS: 230 1.7.3 Other',
 'EBOPS: 232 1.9 Other transport of which: Other supporting and auxiliary transport services',
 'EBOPS: 258 5.5 Auxiliary services',
 'EBOPS: 239 2.1.2 Other',
 'EBOPS: 220 1.5.1 Passenger',
 'EBOPS: 224 1.6.1 Passenger',
 'EBOPS: 892 8.2 Other royalties and license fees',
 'EBOPS: 896 10.2.2 Health services',
 'EBOPS: 275 9.3.1.1 Legal services',
 'EBOPS: 276 9.3.1.2 Accounting, auditing, bookkeeping, and tax consulting services',
 'EBOPS: 228 1.7.1 Passenger',
 'EBOPS: 283 9.3.5.2 Agricultural, mining, and other on-site processing services',
 'EBOPS: 890 7.2.2 Other information provision services',
 'EBOPS: 958 3.1.1 Postal services',
 'EBOPS: 959 3.1.2 Courier services',
 'EBOPS: 282 9.3.5.1 Waste treatment and depollution',
 'EBOPS: 897 10.2.3 Other',
 'EBOPS: 895 10.2.1 Education services',
 'EBOPS: 218 1.4 Other transport of which: Space transport',
 'EBOPS: 891 8.1 Franchises and similar rights',
 'EBOPS: 889 7.2.1 News agency services']